page-home {

    ion-content{
        background-color: burlywood !important; 
    }
    .button{
        background-color: brown;
        color: whitesmoke;
        
      }
      h1{
        color: brown;
    }
    h2{
        color: brown;
        text-align: center;
    }
}h3{
    color: brown;
    text-align: center; 
}h4{
    color: brown;
    text-align: center;  

}
ion-label{
    color: brown;

}
.value{
    color: brown;
    text-align: center;
}

